body,
html {
    font: 16px/1.4 Georgia, serif;
}

.page {
    max-width: 400px;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    user-select: none;
}

h1 {
    font: 2rem/1.2 Georgia, serif;
    margin-bottom: 1em;
}

.fifteen {
    width: 100%;
    padding-bottom: 100%;
    background-color: rgb(164, 203, 243);
    margin-bottom: 1.5rem;
    position: relative;
}   

.fifteen .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 25%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #000;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.itemVal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84%;
    height: 84%;
    margin: 8%;
    box-shadow: 0 0 0 2px inset rgb(26, 119, 213);
}

.button {
    color: #fff;
    background: #000;
    font: 1.2rem/1.4 Georgia, serif;
    border: none;
    cursor: pointer;
    padding: 0.5em 1.5em;
}

.button:hover {
    background: rgb(26, 119, 213);
}