doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Game of Fifteen
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/style.css")
    body 
        - const values = new Array(16).fill(0).map((_item, index) => index + 1);
        .page 
            h1 Game of Fifteen 
            .fifteen
                each val in values 
                    button.item(data-matrix-id=val)
                        span.itemVal= val
            button.button Shuffle
        script(src="script.js") 
